/* Fonts */
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	background: #314755; /* fallback for old browsers */
	background: linear-gradient(to bottom, #282c34, #16181c);
	background: webkit-linear-gradient(to bottom, #282c34, #16181c);
	height: 100vh;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #bfbfbb;
}

/* ANIMATION */
.menu-btn.open .menu-btnBurger {
	background: transparent;
}
.menu-btn.open .menu-btnBurger::before {
	transform: rotate(45deg);
}
.menu-btn.open .menu-btnBurger::after {
	transform: rotate(-45deg);
}